body {
	margin:0;
	background:#222;
}

.logo {
	position: fixed;
	top: 15px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
}

.game.box {
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%) rotate3d(1, 1, 0,90deg) scale(.5);
	transition: transform .6s, opacity .4s;
	opacity: 0;
}

.game.row {
	display: grid;
    grid-template-columns: auto auto auto;
	margin-bottom: 5px;
	gap: 5px;
}

.game.info, .game.status {
	position:relative;
	width:100%;
	height:30px;
	background:#222;
	color:#fff;
	font-family: 'Raleway', sans-serif;
	font-size:18px;
}

.game.op {
	background: #2d2d2d;
	color:#fff;
	cursor:pointer;
	width: 30vw;
    height: 30vw;
    max-width: 180px;
    max-height: 180px;
	transition: background .3s;
	-webkit-tap-highlight-color: transparent;
}

.game.op:active {
	background: #373737;
}

.game.info span, .game.status span {
	position:absolute;
	top:50%; left:50%;
	transform:translate(-50%,-50%);
}

.game.info span, .game.status span {
	transition:opacity 0.2s;
}

.game.op img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	pointer-events: none;
}

.game.op img.custom {
	transition: opacity .2s;
	animation: fadeIn50 .2s;
}

@keyframes fadeIn50 {
	from {opacity:0}
	to {opacity:.5}
}

.loading.box {
	position:fixed;
	top:0; left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.5);
	z-index:999;
}

.loading.text {
	position:absolute;
	top:50%; left:50%;
	transform:translate(-50%,-50%);
	width:calc(100% - 20px);
	text-align:center;
	font-family: 'Raleway', sans-serif;
	color:#fff;
	font-size:20px;
}

.matchsearch {
	font-family:'Source Sans Pro', sans-serif;
	font-size:20px;
	text-align:center;
	display:block;
}

.match.display {
	position:fixed;
	top:0; left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.4);
	display:none;
	z-index:1000;
}

.match.box {
	position:fixed;
	top:50%; left:50%;
	transform:translate(-50%,-50%);
	background:#f7f7f7;
	width: 250px;
    height: 180px;
	border-radius: 15px;
	animation: modalFade .4s;
}

@keyframes modalFade {
	0% {transform:translate(-50%,-50%) scale(.6);opacity:0}
	50%{transform:translate(-50%,-50%) scale(1.1);opacity:1}
	100%{transform:translate(-50%,-50%) scale(1)}
}

.match.info {
	font-family:'Source Sans Pro', sans-serif;
	font-size:26px;
	text-align:center;
	margin-top:30px;
}

.match.btn {
	font-family:'Source Sans Pro', sans-serif;
	font-size:16px;
	padding:13px 0;
	width:150px;
	text-align:center;
	background:#1bf179;
	color:#fff;
	cursor:pointer;
	border-radius:15px;
	display:inline-block;
	text-shadow: 0px 0px 3px rgba(0,0,0,0.2);
	margin:5px;
}

.match.btn[go=rematch] {
	background:#ff6666;
	padding:13px 0;
}

.match.bottom {
	position:absolute;
	bottom:22px;
	left:50%;
	transform:translateX(-50%);
}

.game.timelimit {
	position:fixed;
	bottom:-20px;
	width: 100%;
	text-align: center;
	font-family:'Source Sans Pro', sans-serif;
	transition: opacity .3s, bottom .3s, transform .5s;
	font-size:20px;
	opacity: 0;
	color:#fff;
}

.debug.ping {
	position: fixed;
    top: 85px;
    width: 100%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #fff;
	z-index: 9999;
}