body {
	margin:0;
	background:#222;
}

.game.box {
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%) rotate3d(1, 1, 0,90deg);
	background:#333;
	width:484px;
	height:544px;
	transition:all 0.4s;
}

.game.row {
	display: flex;
	border-bottom:#222 solid 5px;
}

.game.info, .game.status {
	position:relative;
	width:100%;
	height:30px;
	background:#222;
	color:#fff;
	font-family: 'Raleway', sans-serif;
	font-size:18px;
}

.game.op {
	position:relative;
	color:#fff;
	font-family: 'Raleway', sans-serif;
	font-size:120px;
	width:160px;
	height:160px;
	border-right:#222 solid 5px;
	cursor:pointer;
}

.game.op span, .game.info span, .game.status span {
	position:absolute;
	top:50%; left:50%;
	transform:translate(-50%,-50%);
	transition:opacity 0.2s;
}

.game.op span {
	opacity:1;
	animation-name: fadein;
	animation-duration: 0.2s;
}

@keyframes fadein {
  from {opacity:0;}
  to {opacity:1;}
}

.loading.box {
	position:fixed;
	top:0; left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.5);
	z-index:999;
}

.loading.text {
	position:absolute;
	top:50%; left:50%;
	transform:translate(-50%,-50%);
	width:calc(100% - 20px);
	text-align:center;
	font-family: 'Raleway', sans-serif;
	color:#fff;
	font-size:20px;
}

.matchsearch {
	font-family:'Source Sans Pro', sans-serif;
	font-size:20px;
	text-align:center;
	display:block;
}

.debug.ping {
	position:fixed;
	bottom:20px;
	right:20px;
	font-family:'Source Sans Pro', sans-serif;
	font-size:20px;
	color:#fff;
}

.match.display {
	position:fixed;
	top:0; left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.4);
	display:none;
	z-index:1000;
}

.match.box {
	position:fixed;
	top:50%; left:50%;
	transform:translate(-50%,-50%);
	background:#f7f7f7;
	width: 250px;
    height: 180px;
	border-radius:15px;
}

.match.info {
	font-family:'Source Sans Pro', sans-serif;
	font-size:26px;
	text-align:center;
	margin-top:30px;
}

.match.btn {
	font-family:'Source Sans Pro', sans-serif;
	font-size:16px;
	padding:13px 0;
	width:150px;
	text-align:center;
	background:#1bf179;
	color:#fff;
	cursor:pointer;
	border-radius:15px;
	display:inline-block;
	text-shadow: 0px 0px 3px rgba(0,0,0,0.2);
	margin:5px;
}

.match.btn[go=rematch] {
	background:#ff6666;
	padding:13px 0;
}

.match.bottom {
	position:absolute;
	bottom:22px;
	left:50%;
	transform:translateX(-50%);
}